.wrapper {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sideWrapper {
  flex-grow: 1;
}

.plainText {
  color: #ffffff;
}
.selectedOrderWrapper {
  background-color: #000;
}
.allOrderingsWrapper {
  padding: 15px;
  line-height: 0%;
  padding-left: 30px;
}

.selectionDetailWrapper {
  padding: 15px;
  padding-right: 30px;
}

.chooseButton {
  background-color: #888;
  color: #0e0e0e;
  stroke: #0e0e0e;
  fill: #0e0e0e;
  display: flex;
  justify-content: space-between;
  font-size: 150%;
  border-radius: 5px;
  border-radius: 5px solid #888;
  padding: 10px 20px 0px 20px;
  cursor: pointer;
}

.chooseButton:hover {
  background-color: #aaa;
}

.chooseButtonWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 20px;
}

.xAxis {
  cursor: pointer;
  color: #888;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.yAxis {
  cursor: pointer;
  color: #888;
  fill: #888;
  transform: rotate(-90deg);
  position: absolute;
}

.xAxis:hover,
.yAxis:hover {
  color: #aaa;
}

.questionMark {
  color: #888;
  font-weight: bold;
  font-size: 120%;
  margin-left: 5px;
}

.sliderWrapper {
  color: #888;
  display: flex;
  font-size: 130%;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 30px;
}

.sliderText {
  margin-top: 7px;
}

.RangeSliderStyle {
  margin-left: 50px;
  width: 50% !important;
}
