.wrapper {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sideWrapper {
  flex-grow: 1;
}

.plainText {
  color: #ffffff;
}
.selectedOrderWrapper {
  background-color: #000;
}
.allOrderingsWrapper {
  padding: 15px;
  line-height: 0%;
  padding-left: 30px;
}

.selectionDetailWrapper {
  padding: 15px;
  padding-right: 30px;
}

.chooseButton {
  background-color: #888;
  color: #0e0e0e;
  stroke: #0e0e0e;
  fill: #0e0e0e;
  display: flex;
  justify-content: space-between;
  font-size: 150%;
  border-radius: 5px;
  border-radius: 5px solid #888;
  padding: 10px 20px 0px 20px;
  cursor: pointer;
}

.chooseButton:hover {
  background-color: #aaa;
}

.chooseButtonWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 15px;
}

.xAxis {
  cursor: pointer;
  color: #888;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.yAxis {
  cursor: pointer;
  color: #888;
  transform: rotate(-90deg);
  position: absolute;
}

.xAxis:hover,
.yAxis:hover {
  color: #aaa;
}

.sliderWrapper {
  color: #888;
  display: flex;
  font-size: 130%;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 40px;
}

.sliderText {
  margin-top: 7px;
}

.RangeSliderStyle {
  margin-left: 50px;
  width: 50% !important;
}

.selectDialog {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 0px;
}

.selectHeader {
  font-size: 150%;
  font-weight: 600;
  color: #afca0b;
  margin-bottom: 20px;
}

.closeSelect {
  font-weight: 700;
  font-size: 100%;
  color: #afca0b;
  margin-top: 30px;
  cursor: pointer;
}

.selectButtons {
  margin-top: 20px;
  display: flex;
  font-weight: 700;
}

.selectButton {
  color: #afca0b;
  cursor: pointer;
  border: solid #afca0b 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.selectButton:hover {
  color: #aaa;
  border-color: #aaa;
}

.bp3Dialog {
  background-color: #1c1d1f !important;
  border-radius: 0;
}
