.clusterMapWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.tooltipIcon {
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-right: 5px;
  position: relative;
  bottom: 2px;
  transition: fill 500ms;
}
.tooltipIcon:hover {
  fill: #afca0b;
  cursor: pointer;
}
.legendRow:hover {
  color: #afca0b;
  stroke: #afca0b;
  fill: #afca0b;
}

.legendRow {
  margin-bottom: 10px;
  stroke: #6b6b6b;
  fill: #6b6b6b;
  color: #6b6b6b;
  transition: stroke 500ms;
  transition: fill 500ms;
  transition: color 500ms;
}

.buttonOverview {
  background: #1c1d1f;
  z-index: 99;
  color: #aaa;
  font-size: 120%;
  padding: 10px;
  font-family: IBM_Plex_Mono;
  border: 10px solid #1c1d1f;
  border-radius: 5px;
  cursor: POINTER;
  text-align: center;
}

.buttonOverview:hover {
  background: #aaa;
  color: #1c1d1f;
  border-color: #aaa;
}

.orderingIcon {
  width: 200px;
  height: 200px;
}
